.heart_red{
    color:#e54747;
}
#time{
    color:white;
}
.play_icon{
    color:#2ABBE3;
    display:none;
    
    
    
}
.conteudo{
    padding-top: 100px;
    padding-left: 255px;
    cursor: pointer;
    height: 700px;
    overflow: scroll;
}
.music_table{
    text-align: center;
}
.music-list{
    margin-left: 20px;
    color: white;
    width: 100%;
    background-color: #1A1B18;
    margin-bottom: 10px;
    padding: 5px 0px;
    
}
.music-list:hover{
    background-color: #2E2C2C;
}
.music-list p{
    opacity: 0.6;
    padding-left: 20px;
    
}
audio{
    width: 100%;
    // position: absolute;
    // left: 0;
    // top: 0;
    // z-index: -999;
    // opacity: 0;
    
    
}
.player{
    width: 100%;
    padding: 20px;
    height: 120px;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    background-color: rgb(60,60,60);
    float: bottom;
    overflow: hidden;
}
.player_artist{
    width: 20%;
}
.player_control{
    width: 70%;
    text-align: center;
    position: absolute;
    padding-left: 100px;
    
}
.player_control_buttoms a{
    color: #2ABBE3;
    margin: 8px 15px;
    font-size: 30px;
}
.player_control_progress{
    width: 100%;
    max-width: 600px;
    height: 7px;
    margin-top: 20px;
    // position: relative;
    border-radius: 8px;
    // display: inline-block;
    // background: #2ABBE3;
    padding-left: 200px;
   
}
.player_control_progress2{
    // position: absolute;
    // left: 0;
    // top: 0;
    width: 500px;
    height: 7px;
    border-radius: 8px;
    //background-color: #2ABBE3;
    cursor: pointer;
    webkit-appearance: none; /* 🚩これ無しだとスタイルがほぼ全く反映されないので注意 */
    outline: none;
    
    
    
}

#audioplayer {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -999;
    opacity: 0;
    
}

#player_artist {
    color: white;
}

.player_control_progress2[type="range"] {
  -webkit-appearance: none;
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    position: relative;
    border: none;
    width: 12px;
    height: 12px;
    display: block;
    background-color: #2ABBE3;
    border-radius: 50%;
    -webkit-border-radius: 50%;
  }
}
.kuhaku{
    color:#3C3C3C;
}