.header{
    background-color:#519BF5;
    font-family:Circular;
    padding:20px;

}
.header-logo{
    float:left;
    font-size:35px;
    color:white;
}

.header-list{
    float:left;
    
}
.header-list li{
    float:left;
    color:white;
}