.header {
  background-color: #519BF5;
  font-family: Circular;
  height: 90px;
  color: white;
}

.header-logo {
  font-family: fantasy;
  float: left;
  font-size: 35px;
  padding: 20px 80px;
}

.header-list {
  float: right;
}

.header-list li {
  float: left;
  padding: 30px 18px;
  list-style: none;
}

.top-wrapper {
  background-image: no-person-3221109_1920;
  background-size: cover;
}

